#InstructionsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.headerInstructions {
    text-align: center;
    margin-top: 10px;
}

.InstructionsText {
    margin-left: 20px;
    width: 100%;
}

.columnHeading {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-bottom: 14px;
    text-decoration: underline;
    font-size: 24px;
}

.column_1 {
    width: 64px;
}

.column_2 {
    margin-left: 50px;
    width: 165px;
}

.column_3 {
    margin-left: 50px;
}

.row {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-size: 20px;
    height: 38px;
}

.controlSymbol {
    justify-content: center;
    display: flex;
}

.controlSymbol svg {
    height: 48px;
    width: 48px;
    justify-content: center;
    display: flex;
}

.explanation {
    margin-left: 50px;
}

#musicBox {
    height: 32px;
    width: 32px;
}

#fullscreen_symbol {
    height: 32px;
    width: 32px;
}

#home_symbol {
    height: 32px;
    width: 32px;
}

.rotation {
    rotate: 65deg;
}

.storyText {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    line-height: 1.5;
}

.rotation svg{
    width: 36px;
    height: 36px;
}

#ImpressumContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.text_info {
    font-size: 20px;
    margin: 0;
}

.header_info {
    font-size: 24px;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

article {
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: auto;
    padding-bottom: 30px;
}