body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'boogaloo-regular';
    background-image: url(images/desert_background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 32px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

#fullcreen {
    width: 720px;
    height: 480px;
    background-color: red;
    z-index: 1000;
}

canvas {
    background-image: url('images/intro_outro_screens/start/startscreen_1.png');
    background-size: 720px 480px;
    display: block;
    justify-content: center;
    align-items: center;
}

.startBtn {
    width: 100px;
    height: 50px;
    background-color: red;
    display: flex;
    position: relative;
}

/* Smartphones -------------------- */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones -------------------- */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@font-face {
    font-family: 'boogaloo-regular';
    src: url(fonts/Boogaloo-Regular.ttf) format('truetype');
}