body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'boogaloo-regular';
    background-image: url('images/desert_background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 32px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
    box-sizing: border-box;
}

#gameScreen {
    width: 720px;
    height: 480px;
    display: flex;
    background-image: url('images/intro_outro_screens/start/startscreen_1.png');
    background-size: 720px 480px;
    justify-content: center;
    position: relative;
    text-shadow: none;
}

#pleaseRotateScreenImage {
    width: 192px;
    height: 192px;
    display: flex;
    position: relative;
    z-index: 1;
}

#canvas {
    background-color: black;
    display: block;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 480px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@font-face {
    font-family: 'boogaloo-regular';
    src: url(fonts/Boogaloo-Regular.ttf) format('truetype');
}

@media (max-height: 640px) {
    #header {
        display: none;
    }
}

